@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  min-height: 100vh;
  width: 100vw;
  background: rgb(91,12,218);
  background: linear-gradient(45deg, rgba(91,12,218,1) 0%, rgb(138, 9, 173) 100%);
  background-repeat: no-repeat;
}

nav {
  background: #00000094;
  ul {
    li {
      a {
        svg {
          height: 28px;
          width: 28px;
        }
      }
    }
  }
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .Window {
    @extend .shadow-lg;
    min-height: 70vh;
    margin-top: -10vh;
    width: 80vw;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Timer Pages Styles */

.timer {
  margin-top: -5vh;
  .timer-logo {
    @extend .text-center, .mt-5, .text-primary;
    svg {
      height: 75px;
      width: 75px;
      animation: spiner linear 4s infinite;
    }
  }
  .timer-title {
    @extend .display-3, .text-center, .text-success, .pt-1, .pb-3;
  }

  .timer-table {
    @extend .text-center, .mx-auto, .d-flex, .shadow-lg, .p-3, .border, .border-primary;
    width: 350px;
    border-radius: 3px;
    justify-content: center;
    section {
      @extend .mx-auto;
      p {
        @extend .display-6;
      }
    }
    section:nth-child(1) {
      @extend .text-dark;
    }
    section:nth-child(2) {
      @extend .text-success;
    }
    section:nth-child(3) {
      @extend .text-primary;
    }
    section:nth-child(4) {
      @extend .text-danger;
    }
  }
  .timer-complete {
    @extend .text-center, .h-25;
    color: #910cc5;
    h2 {
      @extend .display-6,;
    }
  }
  .last-text {
    @extend .text-center, .mx-auto, .display-6, .text-primary, .mx-md-2, .my-4;
  }
}

/* Wish Page Styles */

.wish {
  @extend .w-100;
  display: flex;
  justify-content: center;
  align-items: center;
  .black-overlay {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000;
  }
  canvas {
    margin-top: -10vh;
  }
  .text-section {
    background: pink;
    border: 6px solid #eb75be;
    padding: 4vh 0;
    border-radius: 3px;
    section h1 {
      font-size: 55px;
      span {
        color: #810085;
      }
    }

  }
}

/* Cards Page Styles */

.cards {
  @extend .w-100;
  font-family: 'Architects Daughter', cursive;
  .card {
    @extend .mx-2, .my-3, .shadow;
    .card-body {
      h2, p {
        @extend .text-center;
      }
    }
  }
  div:nth-child(1) {
    .card {
      .card-body {
        background: #cce5ff;
        color: #004085;
        h2 {
          font-family: 'Secular One', sans-serif;
        }
      }
    }
  }
  div:nth-child(2) {
    display: flex;
    justify-content: center;
    img {
      @extend .mx-auto, .shadow;
      height: 300px;
      width: 150px;
      border: 8px solid #f390d5;
    }
  }
  div:nth-child(3) {
    .card {
      .card-body {
        background: #ffccf2;
        color: #810085;
      }
    }
  }
  div:nth-child(4) {
    .card {
      .card-body {
        background: #f7f89f;
        color: #858300;
      }
    }
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-group {
      @extend .my-3;
      button {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.write {
  @extend .mx-3;
  h2 {
    @extend .display-6, .text-center;
  }
  p {
    @extend .text-center, .mx-5, .my-3, .text-success;
    font-family: 'Indie Flower', cursive;
    font-size: large;
  }
  form {
    @extend .mt-1;
    label {
      @extend .my-3, .text-primary;
    }
  }
  .email-status-msg {
    @extend .w-100, .text-center, .mt-3;
    height: 2vh;
  }
  .write-button {
    @extend .mt-4;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-group {
      width: 100%;
      button {
        @extend .mx-1;
      }
    }
  }
}


.slide-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}
.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(500px) scale(0.6);
}


.black-overlay-enter {
  opacity: 0;
}
.black-overlay-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
}
.black-overlay-exit {
  opacity: 1;
}
.black-overlay-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
}

/* Animations */

@keyframes spiner {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}



/* Styles for Medium Screens */
@media only screen and (max-width: 900px) {
  .App {
    .Window {
      width: 88vw;
    }
  }

}

/* Styles for Small Screens */
@media only screen and (max-width: 600px) {
  .App {
    .Window {
      width: 92vw;
    }
  }
}
